<section class="card user-drink-deets">
    <h3>{{beverage}}</h3>
    <p>Type: {{bev_type}}</p>
    <p>Current User Rating: {{current_rating}}</p>
    {{#if count === 1}}
    <P>This drink you added to our database has only been rated once so far.</P>
    {{else}}
    <p>This drink you added to our database has been rated {{count}} times.</p>
    {{/if}}
</section>