<section class="card user-rating-deets">
    <h3>{{drink.beverage}}</h3>
    <p>Type: {{drink.bev_type}}</p>
    <p>Current Rating: {{drink.current_rating}}</p>
    <p>Your rating: {{rating}}</p>
    <input type="hidden" name="rating_id" value="{{id}}">
    {{#if review}}
    <p class="review">{{review}}</p>
    <button data-ratingID="{{id}}" data-drinkID="{{drink.id}}" class="editReviewBtn">Edit Rating/Review</button>
    {{else}}
    <button data-ratingID="{{id}}" data-drinkID="{{drink.id}}" class="editReviewBtn">Edit Rating/Add Review</button>
    {{/if}}
</section>