<section class="card user-rating-deets">
    {{!-- beverage, bev_type don't show up because this section is only passed
    the rating model, not the drink model. Not sure how to access the drink data --}}
    <h3>{{beverage}}</h3>
    <p>Type: {{bev_type}}</p>
    <p>Current Rating: {{current_rating}}</p>
    <p>Your rating: {{rating}}</p>
    {{#if review}}
    <p class="review">{{review}}</p>
    <button class="editBtn">Edit Review</button>
    {{else}}
    <button class="editBtn">Add Review</button>
    {{/if}}
</section>