<section class="card user-rating-deets">
    <h3>{{drink.beverage}}</h3>
    <p>Type: {{drink.bev_type}}</p>
    <p>Current Rating: {{drink.current_rating}}</p>
    <p>Your rating: {{rating}}</p>
    {{#if review}}
    <p class="review">{{review}}</p>
    <button class="editBtn">Edit Review</button>
    {{else}}
    <button class="editBtn">Add Review</button>
    {{/if}}
</section>